:root {
  --primary: #402be2;
  --secondary: #707eea;
  --label: #96a0e9;
  --text-main: #ffffff;
  --text-dark: #130d0d;
  --background-primary: #1d1b1b;
  --background-sub: #d3d3d3;
  --background-secondary: #130d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(29, 27, 27);
}

nav {
  display: flex;
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: var(--text-main);
}

.nav-logo {
  font-weight: 700;
  color: var(--text-main);
  font-size: 1.5rem;
}

.nav-actions {
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: capitalize;
  font-weight: 600;
}

.nav-actions button {
  text-decoration: none;
  color: var(--primary);
  background-color: var(--text-main);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.login {
  background-color: var(--secondary);
  width: 400px;
  min-height: 100px;
  padding: 20px 30px;
  border-radius: 5px;
  color: var(--text-main);
  position: relative;
  padding-top: 90px;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login form input,
.login form select {
  padding: 10px 5px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
}

.login form input:focus,
.login form select:focus {
  background-color: var(--background-sub);
  outline: none;
}

.login form button {
  background-color: var(--text-main);
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  color: var(--primary);
}

.login-head {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--primary);
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  font-weight: 600;
}

.username {
  text-transform: none;
}

.chat-section {
  height: calc(100vh - 50px);
  display: flex;
}

.chats {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
}

.chats .input {
  width: 100%;
  background-color: var(--secondary);
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
}

.chats .input input {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--background-sub);
  color: var(--text-dark);
}

.chats .input button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary);
  color: var(--text-main);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar {
  width: 300px;
  background-color: var(--background-secondary);
  height: 100%;
  color: white;
  padding: 20px 20px;
}

.sidebar .divider {
  color: var(--background-sub);
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.sidebar .room-name {
  background-color: var(--primary);
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}

.active-user {
  /* background-color: var(--label); */
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

.active-user.active {
  background-color: var(--primary);
}

.chats .room {
  width: 100%;
  color: var(--background-sub);
  height: calc(100vh - 50px);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-bottom: 90px;
  position: relative;
}

.room-message.rca {
  text-align: center;
  font-size: 12px;
  margin: 10px 0px;
}

.chat-container {
  display: flex;
  justify-content: flex-start;
  padding: 0px 20px;
}



.room-message.message {
  margin: 10px 0px;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: var(--background-sub);
  color: var(--text-dark);
}

.room-message.message.active {
  background-color: var(--primary);
  color: var(--text-main);
}

.room-message.message .chat-info {
  font-size: 12px;
  margin-bottom: 5px;
}

.room-message.message .chat-message {
  font-weight: 500;
}
